<div class="calendar-header">
  @if (data) {
    <h6 class="calendar-date-title">{{ data.currentDate | date: 'MMMM YYYY' }}</h6>
  }
  <div class="calendar-days-of-week">
    @for (title of daysOfWeekTitles; track title) {
      <div class="day-of-week">{{ title | transloco }}</div>
    }
  </div>
</div>

<div class="calendar-body">
  <div class="calendar-month">
    <div class="calendar-month-grid">
      @for (day of daysList; track day.date.getDate()) {
        <div
          [ngClass]="{ 'calendar-day-wrapper': true, 'has-events': day.events.length > 0, 'selected': isDaySelected(day) }">
          @if(day.events.length > 0) {
            <small class="total-events">{{ day.events.length }}</small>
          }
          <button
            class="calendar-day"
            [disabled]="day.events.length === 0"
            (click)="selectDay(day)"
          >{{ day.date.getDate() }}
          </button>
        </div>
      }
    </div>
  </div>
</div>
