<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'calendar.title' | transloco }}
      @if (user$ | async; as user) {
        <h6>{{ user.name + ('user.householdOf' | transloco | lowercase) }}</h6>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" class="ion-margin-bottom">
    <ion-toolbar>
      <ion-title size="large">
        {{ 'calendar.title' | transloco }}
        @if (user$ | async; as user) {
          <h6>{{ user.name + ('user.householdOf' | transloco | lowercase) }}</h6>
        }
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-date-selector
    [data]="data"
    (daySelected)="daySelected($event)"
  ></app-date-selector>

  <ion-accordion-group class="ion-margin-vertical">
    @for (item of selectedDay?.plants | keyvalue; track item) {
      <ion-accordion
        [value]="item.key"
        toggleIcon="caret-down-circle"
        toggleIconSlot="start"
      >
        <ion-item slot="header" color="light">
          <ion-label>{{ item.key }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-plants-list
            [plants]="item.value"
          >
          </app-plants-list>
        </div>
      </ion-accordion>
    } @empty {
      <div class="ion-text-center">{{ 'calendar.noSelectedPlants' | transloco }}</div>
    }
  </ion-accordion-group>

  <!-- Plants List -->
  <p class="ion-margin-vertical">{{ 'calendar.plants' | transloco | uppercase }}</p>
  <app-plants-swiper-cards [plants]="data?.plants || []"></app-plants-swiper-cards>
</ion-content>
