<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'signIn.title' | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-header collapse="condense" class="ion-margin-bottom">
    <ion-toolbar>
      <ion-title size="large">{{ 'signIn.title' | transloco }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="page-inner-container"
  >
    <div class="app-logo-container ion-margin-vertical">
      <img src="#" alt="{{appName}} logo" class="app-logo">
    </div>

    <div class="ion-text-center ion-margin-bottom">
      <p>{{ 'signIn.description' | transloco: {appName} }}</p>

      <ion-item>
        <ion-input
          [label]="'signIn.phoneNumber.label' | transloco"
          [errorText]="form.get('phoneNumber')?.errors | firstKey | transloco"
          formControlName="phoneNumber"
          labelPlacement="stacked"
          aria-label="Danger input"
          maxlength="10"
        ></ion-input>
      </ion-item>
    </div>

    <div class="buttons-container">
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!form.valid"
      >{{ 'signIn.next' | transloco }}</ion-button>
    </div>
  </form>
</ion-content>
